body {
    background-color: rgb(39, 46, 80);
    color:white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table{
    border: 5px solid rgb(182, 179, 174);
}
.board-container{
    margin-left: auto;
    margin-right: auto;
   
}

    
td {
    color: black;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: auto;
    background-color: rgb(182, 179, 174);
    cursor: pointer;
    

}

td:hover{
    background-color:  rgb(219, 217, 213);
}
img{
    width: 30px;
}

.pushed{
    background-color: rgb(104, 100, 95);
}

.modal {
    background-color:rgb(182, 179, 174);
    border: 5px solid rgb(182, 179, 174);
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 400px;
    left: calc(50% - 175px);
    color: black;
  }
  
  .hide {
    display: none;
  }
  
  .lose{
    background-color: red;
  }

  button{
    padding: 10px;
    margin: 10px;
    
  }